<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>


<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<span>
    <form method="post">
        <span>
        <label for="ingredient-number">Show me drinks with</label>
            <select id="ingredient-number" name="ingredientNumber">
                <option>0</option>
                <option>1</option>
                <option>2</option>
            </select>
        </span>
        <input type="submit" />
    </form>

</span>

<div th:if="${searchResults} and ${searchResults.size()}">
    <h3 th:text="${searchResults.size() + ' Result(s)'}"></h3>
    <ul>
        <li th:each="drink : ${searchResults}">
            <a th:href="'drink/view/'+${drink.id}" th:text="${drink.name}"></a>
        </li>
    </ul>
</div>

</body>
</html>