<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<div id="my-bar">

    <form method="post">
        <input type="submit" value="Search for drinks containing selected ingredients">
        <h2>Vodka</h2>
        <ul>
            <li th:each="ingredient : ${vodkaList}">
                <input type="checkbox" name="ingredients" th:text="${ingredient.name}" th:value="${ingredient.id}">
            </li>
        </ul>
        <h2>Gin</h2>
        <ul>
            <li th:each="ingredient : ${ginList}">
                <input type="checkbox" name="ingredients" th:text="${ingredient.name}" th:value="${ingredient.id}">
            </li>
        </ul>
        <h2>Rum</h2>
        <ul>
            <li th:each="ingredient : ${rumList}">
                <input type="checkbox" name="ingredients" th:text="${ingredient.name}" th:value="${ingredient.id}">
            </li>
        </ul>
        <h2>Tequila</h2>
        <ul>
            <li th:each="ingredient : ${tequilaList}">
                <input type="checkbox" name="ingredients" th:text="${ingredient.name}" th:value="${ingredient.id}">
            </li>
        </ul>
        <h2>Whiskey</h2>
        <ul>
            <li th:each="ingredient : ${whiskeyList}">
                <input type="checkbox" name="ingredients" th:text="${ingredient.name}" th:value="${ingredient.id}">
            </li>
        </ul>
        <h2>Wine</h2>
        <ul>
            <li th:each="ingredient : ${wineList}">
                <input type="checkbox" name="ingredients" th:text="${ingredient.name}" th:value="${ingredient.id}">
            </li>
        </ul>
        <h2>Mixer</h2>
        <ul>
            <li th:each="ingredient : ${mixerList}">
                <input type="checkbox" name="ingredients" th:text="${ingredient.name}" th:value="${ingredient.id}">
            </li>
        </ul>
        <h2>Bitters</h2>
        <ul>
            <li th:each="ingredient : ${bittersList}">
                <input type="checkbox" name="ingredients" th:text="${ingredient.name}" th:value="${ingredient.id}">
            </li>
        </ul>
        <h2>Garnish</h2>
        <ul>
            <li th:each="ingredient : ${garnishList}">
                <input type="checkbox" name="ingredients" th:text="${ingredient.name}" th:value="${ingredient.id}">
            </li>
        </ul>
        <input type="submit" value="Search for drinks containing selected ingredients">
    </form>


</div>

</body>
</html>