<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<form method="post" style="max-width:600px;" id="add_ingredient_form" >
    <input type="hidden" name="ingredient3" id="ingredient3" value=""/>
    <input type="hidden" name="ingredient4" id="ingredient4" value=""/>
    <input type="hidden" name="ingredient5" id="ingredient5" value=""/>
    <input type="hidden" name="ingredient6" id="ingredient6" value=""/>
    <input type="hidden" name="ingredient7" id="ingredient7" value=""/>
    <input type="hidden" name="ingredient8" id="ingredient8" value=""/>
    <div class="form-group">
            <label th:for="name">Name</label>
            <input class="form-control" name="name"/>
        <br>

            <div class="container">
                <div class="row">
        <div class="col-sm">
            <label th:for="glassType">Glass</label>
            <select name="glassType">
                <option th:each="glassType : ${glassList}"
                        th:value = "${glassType}"
                        th:text = "${glassType}">
                </option>
            </select>
        </div>
        <div class="col-sm">
            <label th:for="mixType">Method</label>
            <select name="mixType">
                <option th:each="mixType : ${mixList}"
                        th:value = "${mixType}"
                        th:text = "${mixType}">
                </option>
            </select>
        </div>
        <div class="col-sm">
            <label th:for="chillType">Chill</label>
            <select name="chillType">
                <option th:each="chillType : ${chillList}"
                        th:value = "${chillType}"
                        th:text = "${chillType}">
                </option>
            </select>
        </div>
                </div>

    </div>
    </div>

    <div id="ingredients_wrapper">
        <div>
            <label th:for="measurement">Amount</label>
            <input class="measurementInput" name="measurement1"/>&#8195
            <label th:for="ingredient">Ingredient</label>
            <span  th:insert="fragments :: dropdown(name='ingredient1')"></span>
        </div>
        <div>
            <label th:for="measurement">Amount</label>
            <input class="measurementInput" name="measurement2"/>&#8195
            <label th:for="ingredient">Ingredient</label>
            <span id="id_ingredient2" th:insert="fragments :: dropdown(name='ingredient2')"></span>
        </div>
        <div>
            <label th:for="measurement">Amount</label>
            <input class="measurementInput" name="measurement3"/>&#8195
            <label th:for="ingredient">Ingredient</label>
            <span id="id_ingredient3" th:insert="fragments :: dropdown(name='ingredient3')"></span>
        </div>
        <div>
            <label th:for="measurement">Amount</label>
            <input class="measurementInput" name="measurement4"/>&#8195
            <label th:for="ingredient">Ingredient</label>
            <span id="id_ingredient4" th:insert="fragments :: dropdown(name='ingredient4')"></span>
        </div>
        <div>
            <label th:for="measurement">Amount</label>
            <input class="measurementInput" name="measurement5"/>&#8195
            <label th:for="ingredient">Ingredient</label>
            <span id="id_ingredient5" th:insert="fragments :: dropdown(name='ingredient5')"></span>
        </div>
        <div>
            <label th:for="measurement">Amount</label>
            <input class="measurementInput" name="measurement6"/>&#8195
            <label th:for="ingredient">Ingredient</label>
            <span id="id_ingredient6" th:insert="fragments :: dropdown(name='ingredient6')"></span>
        </div>
        <div>
            <label th:for="measurement">Amount</label>
            <input class="measurementInput" name="measurement7"/>&#8195
            <label th:for="ingredient">Ingredient</label>
            <span id="id_ingredient7" th:insert="fragments :: dropdown(name='ingredient7')"></span>
        </div>
        <div>
            <label th:for="measurement">Amount</label>
            <input class="measurementInput" name="measurement8"/>&#8195
            <label th:for="ingredient">Ingredient</label>
            <span id="id_ingredient8" th:insert="fragments :: dropdown(name='ingredient8')"></span>
        </div>
    </div>
    <div class="d-flex justify-content-center">
    Ingredient not found? <a href="../ingredient/add" id="addIngredientLink">Add New Ingredient</a>
    </div>
    <br><br>
    <label th:for="instructions">Instructions</label>
    <textarea class="instructionsInput" name="instructions" rows="4" cols="50"></textarea>
    <br>
    <div class="d-flex justify-content-center">
    <input type = "submit" value="Add Drink"/>
    </div>
</form>



</body>

</html>