<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<span class="title-text" th:text="${title}"></span>
<form method="post">
    <input type="hidden" name="sorting" value="rating">
    <input type="submit" value="Sort By Rating">
</form>
<form method="post">
    <input type="hidden" name="sorting" value="alpha">
    <input type="submit" value="Sort Alphabetically">
</form>


<h5 th:text="${message}" id="error-message"></h5>

<ul>
    <li th:each="drink : ${drinkList}">
        <img class="clipart" th:src="@{${drink.clipart}}">
        <a th:href="@{'/drink/view/'+${drink.id}}" th:text="${drink.name}"></a>
    </li>
</ul>

</body>
</html>