<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<span class="title-text" th:text="${title}"></span>
<form method="post">
    <select name="sorting">
        <option value="A-Z" th:selected="${sorting == 'A-Z'}">A-Z</option>
        <option value="Z-A" th:selected="${sorting == 'Z-A'}">Z-A</option>
        <option value="Rating - Highest First" th:selected="${sorting == 'Rating - Highest First'}">Rating - Highest First</option>
        <option value="Rating - Lowest First" th:selected="${sorting == 'Rating - Lowest First'}">Rating - Lowest First</option>
    </select>
    <input type="submit" value="Sort">
</form>


<h5 th:text="${message}" id="error-message"></h5>

<ul>
    <li th:each="drink : ${drinkList}">
        <img class="clipart" th:src="@{${drink.clipart}}">
        <a th:href="@{'/drink/view/'+${drink.id}}" th:text="${drink.name}"></a>
    </li>
</ul>

</body>
</html>