<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h2 th:text="${drink.name}"></h2>

<form th:if="${session.name}" action="../favorite" th:object="${drink}">
    <input type="hidden" th:name="drinkId" th:value="*{id}" />
    <input th:if="!${favorited}"type="submit" value="Add To Favorites" />
</form>
<!--TODO:Display average rating. If user has rated Drink, display user rating.-->

<form th:if="${session.name}" action="../rate" th:object="${drink}">
    <input type="hidden" th:name="drinkId" th:value="*{id}" />
    <label th:for="ratingScore">Rate This Drink</label>
    <select id="ratingScore" name="ratingScore">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    <input type="submit" value="Rate" />
</form>

<form th:if="${session.name}" action="../favorite/remove" th:object="${drink}">
    <input type="hidden" th:name="drinkId" th:value="*{id}" />
    <input th:if="${favorited}"type="submit" value="Remove From Favorites" />
</form>
<br><br>
<table>
    <tr>Glass:  </tr>
    <tr th:text="${drink.glassType}"></tr>
    <tr>Mix Method:</tr>
    <tr th:text="${drink.mixType}"></tr>
    <tr>Chill Method:</tr>
    <tr th:text="${drink.chillType}"></tr>

</table>
<table>
    <tr th:each="element : ${ingredients}">
        <td th:text="${element.measurement}"></td>
        <td th:text="${element.ingredientName}"></td>
    </tr>
</table>
<br>
<p th:text="${drink.instructions}"></p>
</body>
</html>
