<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>

<h1 th:text="'Welcome, '+${session.name}"></h1>


<div id="my-bar">
<h1>My Bar</h1>
    <h2 th:if="${not #lists.isEmpty(vodkaList)}">Vodka</h2>
    <p th:each="item : ${vodkaList}" th:text="${item.name}"></p>
    <h2 th:if="${not #lists.isEmpty(ginList)}">Gin</h2>
    <p th:each="item : ${ginList}" th:text="${item.name}"></p>
    <h2 th:if="${not #lists.isEmpty(rumList)}">Rum</h2>
    <p th:each="item : ${rumList}" th:text="${item.name}"></p>
    <h2 th:if="${not #lists.isEmpty(tequilaList)}">Tequila</h2>
    <p th:each="item : ${tequilaList}" th:text="${item.name}"></p>
    <h2 th:if="${not #lists.isEmpty(whiskeyList)}">Whiskey</h2>
    <p th:each="item : ${whiskeyList}" th:text="${item.name}"></p>
    <h2 th:if="${not #lists.isEmpty(cordialList)}">Cordial</h2>
    <p th:each="item : ${cordialList}" th:text="${item.name}"></p>
    <h2 th:if="${not #lists.isEmpty(wineList)}">Wine</h2>
    <p th:each="item : ${wineList}" th:text="${item.name}"></p>
    <h2 th:if="${not #lists.isEmpty(mixerList)}">Mixer</h2>
    <p th:each="item : ${mixerList}" th:text="${item.name}"></p>
    <h2 th:if="${not #lists.isEmpty(bittersList)}">Bitters</h2>
    <p th:each="item : ${bittersList}" th:text="${item.name}"></p>
    <h2 th:if="${not #lists.isEmpty(vodkaList)}">Garnish</h2>
    <p th:each="item : ${garnishList}" th:text="${item.name}"></p>

<a href="/user/mybar/add">Add Ingredient to My Bar</a>
</div>
<!--TODO: Add css to move My Favorites to Right Side of screen-->
<div id="my-favorites">
    <h1>My Favorites</h1>
    <ul>
        <li th:each="drink : ${myFavorites}">
            <a th:href="'../drink/view/'+${drink.id}" th:text="${drink.name}"></a>
        </li>
    </ul>
</div>
</body>
</html>