<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Bartenders Guide</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/stylesheet.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav th:fragment="navigation">
    <a href="/">Home</a> |
    <a th:if="${session.isEmpty()}" href="/user/login">Log In</a>
    <a th:if="${session.name}" href="/user/logout">Log Out</a> |
    <a th:if="${session.isEmpty()}" href="/user/signup">Sign Up</a> |         |
    <a href="/drink/">Drink List</a> |
    <a th:if="${session.name}" href="/drink/add">Add Drink</a> |         |
    <a href="/ingredient/">Ingredients</a> |
    <a href="/search">Search</a> |
    <a th:if="${session.name}" href="/user">My Bar</a>


</nav>
<!--TODO: Could a loop be used to DRY this up? -->
<select th:fragment="dropdown" th:name="${name}">
    <optgroup label="Vodka">
        <option selected disabled hidden style='display: none' value=''></option>
        <option th:each="ingredient : ${vodkaList}"
                th:value = "${ingredient.id}"
                th:text = "${ingredient.name}">
        </option>
    </optgroup>
    <optgroup label="Gin">
        <option th:each="ingredient : ${ginList}"
                th:value = "${ingredient.id}"
                th:text = "${ingredient.name}">
        </option>
    </optgroup>
    <optgroup label="Rum">
        <option th:each="ingredient : ${rumList}"
                th:value = "${ingredient.id}"
                th:text = "${ingredient.name}">
        </option>
    </optgroup>
    <optgroup label="Tequila">
        <option th:each="ingredient : ${tequilaList}"
                th:value = "${ingredient.id}"
                th:text = "${ingredient.name}">
        </option>
    </optgroup>
    <optgroup label="Whiskey">
        <option th:each="ingredient : ${whiskeyList}"
                th:value = "${ingredient.id}"
                th:text = "${ingredient.name}">
        </option>
    </optgroup>
    <optgroup label="Wine">
        <option th:each="ingredient : ${wineList}"
                th:value = "${ingredient.id}"
                th:text = "${ingredient.name}">
        </option>
    </optgroup>
    <optgroup label="Bitters">
        <option th:each="ingredient : ${bittersList}"
                th:value = "${ingredient.id}"
                th:text = "${ingredient.name}">
        </option>
    </optgroup>
    <optgroup label="Mixer">
        <option th:each="ingredient : ${mixerList}"
                th:value = "${ingredient.id}"
                th:text = "${ingredient.name}">
        </option>
    </optgroup>
    <optgroup label="Garnish">
        <option th:each="ingredient : ${garnishList}"
                th:value = "${ingredient.id}"
                th:text = "${ingredient.name}">
        </option>
    </optgroup>
</select>

</body>
</html>