<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Bartenders Guide</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/js/script.js}"></script>

</head>
<body>

<nav th:fragment="navigation">
    <a href="/">Home</a> |
    <a th:if="${session.isEmpty()}" href="/user/login">Log In</a>
    <a th:if="${session.name}" href="/user/logout">Log Out</a> |
    <a th:if="${session.isEmpty()}" href="/user/signup">Sign Up</a> |         |
    <a href="/drink/">Drink List</a> |
    <a th:if="${session.name}" href="/drink/add">Add Drink</a> |         |
    <a href="/ingredient/">Ingredients</a> |
    <a href="/search">Search</a> |
    <a th:if="${session.name}" href="/user">My Bar</a>


</nav>

<!--TODO: Could a loop be used to DRY this up? -->
<select th:fragment="dropdown" th:name="${name}">
    <optgroup label="Vodka">
        <option selected disabled hidden style='display: none' value=''></option>
        <option th:each="ingredient : ${vodkaList}"
                th:value = "${ingredient.id}"
                th:text = "${ingredient.name}">
        </option>
    </optgroup>
    <optgroup label="Gin">
        <option th:each="ingredient : ${ginList}"
                th:value = "${ingredient.id}"
                th:text = "${ingredient.name}">
        </option>
    </optgroup>
    <optgroup label="Rum">
        <option th:each="ingredient : ${rumList}"
                th:value = "${ingredient.id}"
                th:text = "${ingredient.name}">
        </option>
    </optgroup>
    <optgroup label="Tequila">
        <option th:each="ingredient : ${tequilaList}"
                th:value = "${ingredient.id}"
                th:text = "${ingredient.name}">
        </option>
    </optgroup>
    <optgroup label="Whiskey">
        <option th:each="ingredient : ${whiskeyList}"
                th:value = "${ingredient.id}"
                th:text = "${ingredient.name}">
        </option>
    </optgroup>
    <optgroup label="Wine">
        <option th:each="ingredient : ${wineList}"
                th:value = "${ingredient.id}"
                th:text = "${ingredient.name}">
        </option>
    </optgroup>
    <optgroup label="Bitters">
        <option th:each="ingredient : ${bittersList}"
                th:value = "${ingredient.id}"
                th:text = "${ingredient.name}">
        </option>
    </optgroup>
    <optgroup label="Mixer">
        <option th:each="ingredient : ${mixerList}"
                th:value = "${ingredient.id}"
                th:text = "${ingredient.name}">
        </option>
    </optgroup>
    <optgroup label="Garnish">
        <option th:each="ingredient : ${garnishList}"
                th:value = "${ingredient.id}"
                th:text = "${ingredient.name}">
        </option>
    </optgroup>
</select>

</body>
</html>