<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="${title}">Mikzit</title>


<body class="container">


<nav th:replace="fragments :: navigation"></nav>

<h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">A Community-Based Guide for Bartenders</span>
    <span class="site-heading-lower">Mikzit</span>

</h1>


<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/intro.jpg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">A Great Tool</span>
                    <span class="section-heading-lower">For Any Bartender</span>
                </h2>
                <p class="mb-3">Join our community of professional and amateur bartenders to learn to craft new delicious cocktails. Create a MyBar list and search for new drinks based on what you have in stock. Post your own creations to share with the world!
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" th:href="@{user/signup}">Sign Up!</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Site Is Under Development By</span>
                        <span class="section-heading-lower">Peter Lokey</span>
                    </h2>
                    <p class="mb-0">This is my capstone project for LaunchCode's Liftoff program. I'm a new developer located in Saint Louis, Missouri.</p>
                    <p><a href="https://www.linkedin.com/in/peter-lokey-00b868197/">LinkedIn</a></p>
                    <p><a href="https://github.com/peterlokey">GitHub</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer text-faded text-center py-5">
    <div class="container">
        <p class="m-0 small">Copyright &copy; Peter Lokey 2019</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->


</body>

</html>
